<html> 
	<head><title>vue学习笔记</title></head>
	<!--打印message-->	
	<div id="app">
		{{ message }}
	</div>
	<!--响应式-->
	<div id="app-1">
 		<span v-bind:title="message">
    		鼠标悬停几秒钟查看此处动态绑定的提示信息！
  		</span>
	</div>
	<!--v-if-->
	<div id="app-2">
		<span v-if="flag">能看到我了么</span>
	</div>
	<!--v-for-->
	<div id="app-3">
		<ol>
			<li v-for="todo in todos">
				{{todo.text}}:{{todo.val}}
			</li>
		</ol>
	</div>

	<!--v-on:click 监听事件 v-on 缩写-->
	<div id="app-4">
		<span>{{message}}</span>
		<button  v-on:click="reverseMessage">点我反转</button>
		<button  @click="reverseMessage">v-on缩写点我反转</button>
	</div>
	</div>
	<!--v:model 双向绑定，可以将ajax请求的数据返回到页面元素上 -->
	<div id="app-5">
		<p>{{message}}</p>
		<input v-model="message" />
	</div>
	<!--v-bind 缩写-->
	<div id="app-6">
		<button v-bind:disabled="tsDisable">{{app_6id}}</button><br/>
		<a v-bind:href="url">点我url</a>
		<a :href="url">v-bind 缩写</a>
	</div>

	
	 


	<script src="https://unpkg.com/vue"></script>
	<script type="text/javascript">
		var app = new Vue({
		  el: '#app',
		  data: {
		    message: 'Hello Vue!'
		  }
		})
		var app1 = new Vue({
			el:'#app-1',
			data:{
				message:"页面加载于" + new Date().toLocaleString()
			}
		})

		var app2 = new Vue({
			el:"#app-2",
			data:{
				flag:false
			}
		})

		var app3 = new Vue({
			el:"#app-3",
			data:{
				todos:[{text:'sdf',val:'123'},{text:'wwww',val:'123'},{text:"vue test",val:'123'}]
			}
		})

		var app4 = new Vue({
			el:"#app-4",
			data:{
				message:"我爱你"
			},
			methods:
			{
				reverseMessage:function(){
					this.message=this.message.split('').reverse().join('')
				}
			}
		})

		var app5 = new Vue({
			el:"#app-5",
			data:{
				message:"hello vue"
			}
		})
		var v6 = new Vue({
			el:"#app-6",
			data:{app_6id:"app-6",tsDisable:true,url:'https://www.baidu.com'}
		})
	</script>
</html>





